{% extends "base.html"%}
{% import"bootstrap/wtf.html" as wtf %}
{% block title %}
<title>设备管理</title>
{% endblock %}
{% block scripts %}
<script src="../static/echarts/echarts.common.min.js"></script>

{% endblock %}
{% block page_content %}

<div class="row" style="padding: 20px 0;">
	<div class="row_head_block ">
		<p>立体仓库</p>
	</div>
</div>
<div class="row" style="padding: 20px 0;">
	<div class="row_head_block ">
		<p>传送物流</p>
	</div>
</div>
<div class="row" style="padding: 20px 0;">
	<div class="row_head_block ">
		<p>自动机床</p>
	</div>
</div>

{% endblock %}