{% extends "base.html"%}
{% import"bootstrap/wtf.html" as wtf %}

{% block title %}<title>立体仓库</title>{% endblock %}
{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block page_content %}


<div class="row" style="padding: 20px 0;">
	<div class="row_head_block ">
		<p>立体仓库</p>
	</div>	
</div>
<div class="row">
    <div class="col-md-6">
        <div> 库位状态</div>
        <table id="rpo_status" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>库位号</th>
                <th>库存状态</th>
                <th>产品编号</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>无货</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>原料</td>
                <td>0001</td>
            </tr>
        </tbody>
        </table>
        <button class="row_head_block" data-toggle="modal" data-target="#Output">出库</button>
        <button class="row_head_block" data-toggle="modal" data-target="#Input">入库</button>
<!-- 模态框（add） -->
    <div class="modal fade" id="Output" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    增加
                </div>
                <div class="modal-body">
                    {{wtf.quick_form(form_output)}}
                </div>
            </div>
        </div>
    </div>
<!-- 模态框（add） -->
    <div class="modal fade" id="Input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    修改
                </div>
                <div class="modal-body">
                    {{wtf.quick_form(form_input)}}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md6">
        <div>
            设备列表<br>
            堆垛机器人
        </div>
        <div>
            调度状态
        </div>

    </div>
</div>





{% endblock %}