{% extends "base.html"%} 
{% import"bootstrap/wtf.html" as wtf %} 
{% block title %}
<title>工作台</title>
{% endblock %} 
{% block scripts %}
<script src="../static/echarts/echarts.common.min.js"></script>

{% endblock %} 
{% block page_content %}

<div class="row" style="padding: 20px 0;">
	<div class="row_head_block ">
		<p>工作台</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="row_head_block ">
			<p>立体仓库</p>
		</div>
        <div class="block_content" style="height:500px">
		    <table class="table table-hover">
                <thead>
                    <th>设备名称</th>
                    <th>设备状态</th>
                </thead>
                <tbody>
                    {% for item in rpo_ept_list %}
                    <tr>
                        <td>{{item.ept_name}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
		<div>
			<button class="btn btn-default btn-block">添加任务</button>
		</div>

	</div>
	<div class="col-md-4">
		<div class="row_head_block ">
			<p>物流运输</p>
		</div>
		<div class="block_content" style="height:500px">
		    <table class="table table-hover">
                <thead>
                    <th>设备名称</th>
                    <th>设备状态</th>
                </thead>
                <tbody>
                    {% for item in transfer_ept_list %}
                    <tr>
                        <td>{{item.ept_name}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
		<div>
			<button class="btn btn-default btn-block">添加任务</button>
		</div>

	</div>
	<div class="col-md-4">
		<div class="row_head_block ">
			<p>加工机床</p>
		</div>
		<div class="block_content" style="height:500px">
		    <table class="table table-hover">
                <thead>
                    <th>设备名称</th>
                    <th>设备状态</th>
                </thead>
                <tbody>
                    {% for item in machine_ept_list %}
                    <tr>
                        <td>{{item.ept_name}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
		<div>
			<button class="btn btn-default btn-block">添加任务</button>
		</div>

	</div>
</div>
{% endblock %}
